# Este es un archivo de ejemplo.
# Copia este contenido en un nuevo archivo llamado .env.local y añade tus claves.
# El archivo .env.local NO se subirá a GitHub.

GEMINI_API_KEY=
NEXT_PUBLIC_FIREBASE_API_KEY=
